/* ======= HEADER======= */

#header {
  padding: 20px;
  background: #333;
  color: #fff;
}

/* ------Menu------ */

/* set background menu */
ul#main-menu {
  background: #fff;
}

/* -------Search------ */

/* -------CONTENT----- */
